@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
}

.app-container {
    text-align: center;
    background-color: white;
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

header::before {
    content:"";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: url("./assets/images/logo-leaves-candle.jpg") no-repeat center center;
    background-size: cover;
    height: 500px;
    opacity: .4;
    width: 100%;
}

header h1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 3.5rem;
    font-family: 'Marck Script', cursive;
    font-weight: 100;
    color: black;
    overflow: visible;
    word-spacing: -15px;
    letter-spacing: -3px;
    z-index: 1000;
    width: 100%;
}

.public-navbar-list {
    display: flex;
    width: 25vw;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

.public-navbar-link {
    color: black;
    text-decoration: none;
    font-size: .8rem;
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    background-color: transparent;
    margin: auto 25px;
}

.public-navbar-link:hover {
    color: rgba(0,0,0,.6);
}

nav {
    display: flex;
    justify-content: center;
    padding:2px 0;
    width: 100vw;
    min-width: 350px;
    background-color:white;
    margin: auto;
}

.public-nav{
    display: flex;
    justify-content: center;
    background: white;
    max-height: 3rem;
    padding: 0;
    margin: 0;
}

hr {
    border-top: solid black 1px;
}

hr.gray {
    border-top: solid gray 1px;
}

main{
    background-color: white;
    margin: 0;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, p{
    padding:0;
    margin:0;
}

footer {
    color: black;
    justify-content: center;
    margin: auto;
    padding: 50px;
}

.login-link {
    justify-content: flex-end;
}